<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>	
	<body style="backgroun-color:#373D47;text-align:center;">
		<h1 style="color:white;">Email templates</h1>
		<h2 style="color:white;">{{name}}</h2>
		<h3 style="color:#446E9B;">Bienvenido</h3>
	</body>
</html>